altgraph==0.17
auto-py-to-exe==2.7.8
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.3
cycler==0.10.0
Eel==0.12.4
et-xmlfile==1.0.1
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
jdcal==1.4.1
kiwisolver==1.2.0
matplotlib==3.2.2
msvc-runtime==14.27.29016
numpy==1.19.1
openpyxl==3.0.5
pefile==2019.4.18
Pillow==7.2.0
PyAudio @ file:///D:/Developer/Tadano/PythonProjects/PyBAT/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.1
python-dateutil==2.8.1
python-speech-features==0.6
pywin32-ctypes==0.2.0
scipy==1.5.2
six==1.15.0
sqlite-bro==0.9.1
whichcraft==0.6.1
winpython==3.0.20200808
zope.event==4.5.0
zope.interface==5.1.2
